body {
    margin: 0;
    margin-top: 3.5em;
    background-image: url(../images/Bread.JPG);
    background-size: 150em;
}

page {
    margin: 0;
    margin-top: 0;
}


page, h1, h2, p, body {
    font-family: verdana, arial, helvetica, sans-serif;
}

/*NAVBAR CODE*/
/*I'm aware the nav bar is total garbage but I don't have an additional 20 hours to mess with it*/
/*I'm never shitting on front end again, this stuff is a total pain in the ass*/
nav {
    margin-top: -4em;
    position: fixed;
    width: 100%;
    height: 5.3%;
    z-index: 3;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    background-image: linear-gradient(90deg, #181372 0%, #090979 35%, #570f81 100%);
    border-bottom: .1em solid rgb(94, 8, 121);
}

nav ul li {
    float: left;
    margin-top: .15em;
    padding: 0% 4% 0% 4%;
    width: 5%;
    display: block;
}

#logo {
    margin-top: 0em;
    padding-left: 0;
    width: 10%;
}

nav ul li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px; /*todo fix from pixel mesurements */
    text-decoration: none;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    margin: .1em;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#breadstick {
    width: 1em;
    height: 1em;
    padding: .2em .5em 0em 0em;
    text-align: center;
    position: absolute;
    margin-left: -3.5em;
}

#searchbox {
    width: 10%;
    padding-left: 2em;
}

#search {
    width: 100%;
    height: 1.5em;
    margin-top: .6em;
    font-family: verdana, arial, helvetica, sans-serif;
    background-color: #26064e;
    color: white;
    border: none;
    font-size: 1.05em;
    text-align: center;
    border: .05em solid #26064e;
    border-radius: .8em;
}

    #search:hover {
        border: .05em solid white;
        border-radius: .8em;
        background-color: #168492;
    }

#prefs {
    margin-left: -2.5em;
}

#logout {
    margin-left: 2em;
}

/* Sorting */
.main-content {
    overflow: auto;
    margin: .5em 1.5em 1.5em 1.5em;
    width: 98%;
}

.order {
    margin-top: .5em;
    color: white;
    background-color: #340a68;
    height: 3.5em;
    width: 98%;
    text-align: center;
    border-radius: .3em;
    border: .1em solid #410e80;
    overflow: hidden;
}

.order ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
}

.order ul li {
    float: left;
    margin-top: .15em;
    display: block;
    padding: .1em 1em .4em 1em;
}

.order ul li a {
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: .8em 1em .8em 1em;
    border: none;
    border-radius: 2em;
}

.order ul li a:hover {
    background-color: #290850;
}

/*Main Div*/

.centralDiv {
    margin: auto;
    margin-bottom:1em;
    padding: 0.5em;
    width: 20em;
    background-color: white;
    border: 0.3em dashed red;
}

.title {
    margin-top: 0.3em;
}

.inputField {
    margin-left: 0.5em;
}

label {
    font-size: 0.8em;
    color: lightslategrey;
}

fieldset {
    padding: 0;
}

.textfield {
    background-color: #C7EFFF;
    height: 2em;
    width: 70%;
    margin-top: 0.5em;
}

.submitButton {
    display: block;
    color: white;
    width: auto;
    padding: 0.5em 0.5em 0.5em 0.5em;
    margin: auto;
    margin-bottom: -0.8em;
    border: 2px solid black;
    background-color: #3096C1;
    border-radius: 0.1em;
    border-radius: 1em;
    font-size: 0.8em;
}